@import 'header';
@import 'hero';
@import 'colors';
@import 'typography';
@import 'buttons';
@import 'forms';
@import 'texture-shadows';
@import 'ui-elements';
@import 'iconography';
@import 'miscellaneous';
@import 'photography';

main.website {
	background: url("../img/main-shadow.png") repeat-x;
	padding-bottom: 20px;
	border-top: 1px solid #D4D1D0;
}

section {
	padding: 40px 0 0px;
	.section-heading {
		h2 {
			@mixin simpleHeading2;
			color: $primary01;
		}
	}
	.module-heading {
		padding-bottom: 10px;
	}
	.content {
		lost-flex-container: row;
		margin-top: 18px;
		&.split {
			@mixin content-split;
		}
	}
	h2 {
		@mixin simpleHeading2;
	}
	h3 {
		font-size: 25px;
		text-transform: none;
	}
}

.section-content {
	lost-flex-container: row;
}

@media screen and (width >= 600px) {
	.section-content {
		padding: 0 20px;
	}
	.mobile-optimized {
		display: none;
	}
}

@media screen and (1024px >= width >= 600px) {
	section {
		padding: 80px 0 0;
	}
}

@media screen and (width >= 1024px) {
	section {
		padding: 80px 0 0;
	}
}
