/*Background Classes*/
.primary01 {
	background-color: $primary01;
}
.primary02 {
	background-color: $primary02;
}
.primary03 {
	background-color: $primary03;
}
.primary04 {
	background-color: $primary04;
}
.secondary01 {
	background-color: $secondary01;
}
.secondary02 {
	background-color: $secondary02;
}
.secondary03 {
	background-color: $secondary03;
}
.secondary04 {
	background-color: $secondary04;
}
.secondary05 {
	background-color: $secondary05;
}
.secondary06 {
	background-color: $secondary06;
}
.accent01 {
	background-color: $accent01;
}
.accent02 {
	background-color: $accent02;
}
.accent03 {
	background-color: $accent03;
}
.accent04 {
	background-color: $accent04;
}
.accent05 {
	background-color: $accent05;
}
.accent06 {
	background-color: $accent06;
}
.limited01{
	background-color: $limited01;
}
.limited02 {
	background-color: $limited02;
}
.limited03 {
	background-color: $limited03;
}
